<div class="container">
    <div class="contact-column">
        <div class="contact">
            <h3 class="footer-title">Contact</h3>
            <ul class="footer-link-list">
                <li class="footer-link-item">
                    <a href="mailto:work@vaultflow.com">Work inquires: work@vaultflow.com</a>
                </li>
                <li class="footer-link-item">
                    <a href="mailto:press@vaultflow.com">
                        PR and speaking: press@vaultflow.com
                    </a>
                </li>
                <li class="footer-link-item">
                    <a href="mailto:newbusiness@vaultflow.com">
                        New business: newbusiness@vaultflow.com
                    </a>
                </li>
            </ul>
        </div>
        <div class="careers">
            <h3 class="footer-title">Careers</h3>
            <ul class="footer-link-list">
                <li class="footer-link-item">
                    <a href="mailto:Careers@vaultflow.com">Careers@vaultflow.com</a>
                </li>
            </ul>
        </div>
        <p class="footer-description">&copy; 2023 Vaultflow. All Rights Reserved.</p>
    </div>
    <div class="social-address-column">
        <div class="address">
            <h3 class="footer-title">Address</h3>
            <ul class="footer-link-list">
                <li class="footer-link-item">
                    <a href="#">398 11th Street, Floor 2 <br> San Francisco, CA 94103</a>
                </li>
            </ul>
        </div>
        <div class="social">
            <h3 class="footer-title">Careers</h3>
            <ul class="footer-link-list">
                <li class="footer-link-item">
                    <a href="mailto:Careers@vaultflow.com">Careers@vaultflow.com</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="logo-column"></div>
</div>