<div class="header-wrapper container">
  <div class="header-logo"></div>
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-list-item">
        <a class="header-nav-list-item-link" href="#features">Features</a>
      </li>
      <li class="header-nav-list-item">
        <a class="header-nav-list-item-link" href="">Pricing</a></li>
      </li>
      <li class="header-nav-list-item">
        <a class="header-nav-list-item-link" href="#page-footer">About us</a>
      </li>
      <li class="header-nav-list-item">
        <button type="button" class="header-btn page-btn">
          Download the app
        </button>
      </li>
      <li class="header-nav-list-item">
        <button type="button" class="header-btn page-btn">
          Talk to an expert
        </button>
      </li>
    </ul>
  </nav>
</div>
