<div class="hero-wrapper container">
  <div class="hero-content-wrapper">
    <div class="hero-content">
      <button class="hero-main-btn page-btn">
        We just raised $20M in Series B. Learn more
      </button>
      <div class="hero-text-wrapper">
        <h1 class="hero-title">Modern analytics <br />for the modern world</h1>
        <p class="hero-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          <br />Suspendisse varius enim in eros elementum tristique.
        </p>
      </div>
      <div class="hero-button-wrapper">
        <button class="hero-btn page-btn">Download the app</button>
        <button class="hero-btn page-btn">Talk to an expert</button>
      </div>
    </div>
    <div class="hero-box box-shadow"></div>
  </div>
</div>
