<div class="organizations-div container">
    <p class="trusted-p">
        Trusted by teams at over 1,000 of the world’s leading organizations
    </p>
    <ul class="organizations-ul">
        <li class="organizations-li">
            <svg class="organizations-icon" width="62px" height="20px">
                <use href="./src/images/dell.svg">


                </use>
            </svg>
        </li>
        <li class="organizations-li">
            <svg class="organizations-icon" width="62px" height="20px">
                <use href="./src/images/zendesk.svg">
                </use>
            </svg>
        </li>
        <li class=" organizations-li">
            <svg class="organizations-icon" width="62px" height="20px">
                <use href="./src/images/rakuten.svg">

                </use>
            </svg>
        </li>
        <li class="organizations-li">
            <svg class="organizations-icon" width="62px" height="20px">
                <use href="./src/images/pacific-funds.svg">
                </use>
            </svg>
        </li>
        <li class="organizations-li">
            <svg class="organizations-icon" width="62px" height="20px">
                <use href="./src/images/ncr.svg">
                </use>
            </svg>
        </li>
        <li class="organizations-li">
            <svg class="organizations-icon" width="62px" height="20px">
                <use href="./src/images/lattice.svg">
                </use>
            </svg>
        </li>
        <li class="organizations-li">
            <svg class="organizations-icon" width="62px" height="20px">
                <use href="./src/images/ted.svg">
                </use>
            </svg>
        </li>
    </ul>
</div>