<p class="trusted-p">
    Trusted by teams at over 1,000 of the world’s leading organizations
</p>
<ul>
    <li class="organizations-li">
        <svg class="organizations-icon" width="62px" height="20px">
            <use href="../images/dell.svg#dell">


            </use>
        </svg>
    </li>
    <li class="organizations-li">
        <svg class="organizations-icon" width="62px" height="20px">
            <use href="../images/zendesk.svg#zendesk">

            </use>



        </svg>
    </li>
    <li class=" organizations-li">
        <svg class="organizations-icon" width="62px" height="20px">
            <use href="../images/rakuten.svg#rakuten">

            </use>
        </svg>

    </li>
    <li class="organizations-li">
        <svg class="organizations-icon" width="62px" height="20px">
            <use href="../images/pacific-funds.svg#pacific-funds">

            </use>
        </svg>

    </li>
    <li class="organizations-li">
        <svg class="organizations-icon" width="62px" height="20px">
            <use href="../images/ncr.svg#ncr">

            </use>
        </svg>

    </li>
    <li class="organizations-li">
        <svg class="organizations-icon" width="62px" height="20px">
            <use href="../images/lattice.svg#lattice">

            </use>
        </svg>

    </li>
    <li class="organizations-li">
        <svg class="organizations-icon" width="62px" height="20px">
            <use href="../images/ted.svg#ted">

            </use>
        </svg>

    </li>




</ul>