<div class="organizations-div container">
    <p class="trusted-p">
        Trusted by teams at over 1,000 of the world’s leading organizations
    </p>
    <ul class="organizations-ul">
        <li class="organizations-li">
            <svg class="organizations-icon" width="62px" height="20px">
                <use href="./src/images/dell.svg#icon-dell">


                </use>
            </svg>
        </li>
        <li class="organizations-li">
            <svg class="organizations-icon" width="87px" height="17px">
                <use href="./src/images/zendesk.svg#icon-zendesk">
                </use>
            </svg>
        </li>
        <li class=" organizations-li">
            <svg class="organizations-icon" width="67px" height="21px">
                <use href="./src/images/rakuten.svg#icon-rakuten">

                </use>
            </svg>
        </li>
        <li class="organizations-li">
            <svg class="organizations-icon" width="143px" height="13px">
                <use href="./src/images/pacific-funds.svg#icon-pacific-funds">
                </use>
            </svg>
        </li>
        <li class="organizations-li">
            <svg class="organizations-icon" width="80px" height="24.27px">
                <use href="./src/images/ncr.svg#icon-ncr">
                </use>
            </svg>
        </li>
        <li class="organizations-li">
            <svg class="organizations-icon" width="120px" height="22.8px">
                <use href="./src/images/lattice.svg#icon-lattice">
                </use>
            </svg>
        </li>
        <li class="organizations-li">
            <svg class="organizations-icon" width="54.29px" height="20px">
                <use href="./src/images/ted.svg#icon-ted">
                </use>
            </svg>
        </li>
    </ul>
</div>